version: '3'
services:
  mongo:
    image: mongo:latest
    logging:
        driver: none
    ports:
      - 27017:27017
    volumes:
      - mongodb_data_container:/data/db

volumes:
  mongodb_data_container:
